/*CSS General a todo el sitio*/
/* As liñas do antigo codigo como float esta comentado e os posicionamentos absolutos
que quedan son para que os elementos hidden non interfiran na colocación dos elementos.*/

/*border-box con webkit y moz aplicado a todo o sitio web para ter un mellor control no tamaños das "caixas", creadas principalmente con float.*/
/*Web font aplicada a todo el sitio con "*" y prefijos -moz- y wbkit- para que box sizing siempre funcione en todos los navegadores*/
@font-face {
    font-family: "Roboto Condensed", sans-serif;
    src: url(../fonts/robotoCondensed.woff2);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

body {
    line-height: 1.4em;
    font-size: 1.1em;
    width: 98%;
    margin: auto;
    background-color: #f0f8ff;
}

#cuerpo {
    background: url("../img/cabecera.jpg") 50% 50%;
    /*codigo grid*/
    display: grid;
    grid-row-gap: 10px;
    justify-items: center;
}

a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #000000;
}

h1,
h2,
h3 {
    color: #800e25;
}

/*
    *Header
*/

#cabecera {
    background: url("../img/cabecera.jpg") 50% 50%;
    background-color: #00008b;
    /*position: relative;*/
    padding: 1% 1% 0;

    /*codigo grid*/
    display: grid;
    grid-template-columns: 6fr 1fr;
}

#logo-nav {
    /*codigo grid*/
    display: grid;
    grid-row-gap: 1em;
}

#cabecera .img {
    padding: 0;
    padding-left: 0.3em;
}

#cabecera .imagen {
    /*Añadido CSS3 sombra en las imagenes*/
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#navegador {
    /*position: absolute;
    bottom: -0.3em;
    margin-left: 0.5em;*/
    padding-left: 0.3em;

    /*codigo grid*/
    display: grid;
    grid-template-areas: "ini pres serv trab info sel";
    justify-items: stretch;

}

#navegador a {
    /*display: inline-block;*/
    text-align: center;
    padding: 0.5em;
    border: 2px solid #3939e0;
    /*CSS3 border radius y gradiente para dar color a los botones de nav*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(#84d0e8, #f0f0f0);
}

/*#navegador .navega {
    visibility: hidden;
    position: absolute;
}*/

/*codigo grid*/
#navegador a:first-child {
    grid-area: sel;
    visibility: hidden;
}

#navegador a:last-child {
    grid-area: info;
}

#navegador a:nth-child(2) {
    grid-area: ini;
}

#navegador a:nth-child(3) {
    grid-area: pres;
}

#navegador a:nth-child(4) {
    grid-area: serv;
}

#navegador a:nth-child(5) {
    grid-area: trab;
}

/**/

#navegador .BIni,
#navegador .BPres,
#navegador .BTrab,
#navegador .BServ,
#navegador .Binfo,
#navegador .BVis,
#navegador .BCont {
    color: #800e25;
    border-bottom: none;
    font-weight: bold;
    /*CSS3 Transparencia*/
    background: rgba(173, 216, 230, 0.95);
    -webkit-background: rgba(173, 216, 230, 0.95);
    -ms-background: rgba(173, 216, 230, 0.95);
    -moz-background: rgba(173, 216, 230, 0.95);
}

#navegador a:hover {
    /*CSS3 gradiente para dar color a los botones de nav al hacer hover*/
    background: linear-gradient(to top, #84d0f9 0%, #3863f7 100%);
    color: #800e25;
    font-weight: bold;
}

/*
    *address
*/
#cabecera address {
    /*codigo grid*/
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    align-content: end;
    padding-right: 0.3em;
}

address a {
    padding: 0.2em 0.2em 0.5em;
    /*float: right;*/
}

footer address img,
#cabecera address img {
    width: 40px;
    border-radius: 50%;
    /*CSS3 para dar sombra a los botones de RRSS*/
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.5s;
}

footer address img:hover,
#cabecera address img:hover {
    /*CSS3 para reducir la sombra con hover*/
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

footer address {
    visibility: hidden;
}

/*
    *footer
*/

footer {
    background: url("../img/pie.jpg") 50% 50%;
    background-color: #00008b;
    padding: 1% 0;

    /*codigo flex
    display: flex;
    justify-content: center;
    padding: 0.5% 0;*/

    /*codigo grid*/
    display: grid;
    justify-items: center;
}

footer #foot {
    padding: 0.5em;
    border: solid 2px #00008b;
    /*CSS3 Transparencia*/
    background: rgba(173, 216, 230, 0.95);
    -webkit-background: rgba(173, 216, 230, 0.95);
    -ms-background: rgba(173, 216, 230, 0.95);
    -moz-background: rgba(173, 216, 230, 0.95);
    width: 98%;
    /*codigo flex
    
    display: flex;
    justify-content: space-between;
    align-items: center;*/

    /*codigo grid*/
    display: grid;
    grid-template-columns: repeat(2, 1fr) 4fr;
    align-items: center;
}

.pie {
    display: grid;
    grid-template-columns: repeat(4, 10em);
    justify-content: end;
    align-items: center;
}

.pie a:nth-child(3) {
    border-left: solid 1px;
    border-right: solid 1px;
    text-align: center;
}
    /*codigo grid*/
.pie a:nth-child(2){
    justify-self: end;
}
.pie a:nth-child(4){
    justify-self: start;
}
    /**/
.pie a:first-child {
    visibility: hidden;
}


/*
    *CSS específico de secciones
*/

#cuerpo section:first-child {
    border-top: solid 2px #3030de;
}

section {
    /*overflow: auto;
    margin: 0.5em 1em;
    min-height: 8em;*/
    border: solid 2px #00008b;
    /*CSS3 Transparencia*/
    background: rgba(173, 216, 230, 0.95);
    -webkit-background: rgba(173, 216, 230, 0.95);
    -ms-background: rgba(173, 216, 230, 0.95);
    -moz-background: rgba(173, 216, 230, 0.95);

    /*Codigo grid*/
    display: grid;
    grid-template-columns: 8fr 1fr;
    grid-column-gap: 2%;
    text-align: justify;
    padding: 1%;
    width: 98%;
}

section:nth-child(2n) {
    grid-template-columns: 1fr 8fr;
}

/* codigo que afectaba as outras páxinas do sitio
#cuerpo #secTrabajos,
#seccionInfo,
#secVisor,
#secServicios {
    Codigo flex
    flex-direction: column;
}*/

/*para quitar os margin por defecto*/
section h2 {
    margin: 0;
}

.textSeccion {
    /*codogo grid*/
    display: grid;
    grid-row-gap: 5px;
    align-content: start;
}

.text {
    margin: 0;
}

.imgSeccion {
    width: 100%;
    margin: 0 1% 0 0;
    /*float: left;*/
    /*Añadido CSS3 para borde y sombra en las imagenes*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.7);
}

h2 a {
    padding: 0;
    /*quitar padding por defecto en el a */
    color: #800e25;
}

ul,
.servicios,
.trabajos,
.textServ,
.textTrab,
.textInfo {
    line-height: 1.6em;
    text-align: justify;
    list-style: none;
    padding: 0 1%;
}

/*CSS2 mejora de codigo css añadida*/
.text li:before,
.servicios li:before,
.trabajos li:before {
    content: "\27f4";
    padding-right: 0.5em;
}

.imgServicios {
    width: 60%;
    /*codigo flex*/
    align-self: center;
}

#trabImg {
    /*codigo flex*/
    display: flex;
    justify-content: space-evenly;
}

.imgTrabajo1 {
    width: 100%;
    /*Añadido CSS3 para borde y sombra en las imagenes*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.76);

    /*codigo flex*/
    align-self: center;
}

/*
    *CSS3 de Tooltip añadido para esta fase del proyecto
    *En la parte de flex, absolute no se puede quitar sin perder el efecto.
*/
.tooltip {
    position: relative;

    /*codigo flex*/
    width: 20%;
    display: flex;
}

.tooltiptext {
    visibility: hidden;
    background-color: #800e25;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 5px 0;

    /*codigo flex*/
    position: absolute;
    top: 2em;
    z-index: 1;
    left: 20%;
    width: 60%;
}

/*
.tooltiptext1 {
    position: absolute;
    top: 2em;
    z-index: 1;
}

.tooltiptext2 {
    position: absolute;
    top: 2em;
    z-index: 1;
}

.tooltiptext4 {
    position: absolute;
    top: 2em;
    z-index: 1;
}

.tooltiptext3 {
    position: absolute;
    top: 2em;
    z-index: 1;
}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*
    *CSS de información
*/
#seccionInfo h2 {
    margin-top: 0.5em;
}

.textInfoDown {
    /*codigo flex*/
    display: flex;
    justify-content: space-evenly;
}

.enlaces {
    /*codigo flex*/
    width: 48%;
    display: flex;
    flex-direction: column;
    border: solid;
}

.enlaces img {
    width: 70%;
    margin-left: 5%;
    /*Añadido CSS3 para borde y sombra en las imagenes y siguiente hover para dar efecto de transition.*/
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.5s;
}

.enlaces img:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.legisla {
    /*codigo flex*/
    width: 48%;
    display: flex;
    flex-direction: column;
}

.legisla a {
    padding: 0.5em 0 0.2em 0.5em;
    color: #666666;
}

/*CSS2 mejora de codigo css añadida*/
.legisla a:before {
    content: "\27fa";
    padding-right: 0.2em;
}

/*CSS3 sombra en texto para resaltalo con hover*/
.legisla a:hover {
    color: #800e25;
    text-shadow: 3px 3px 5px #000000;
}

.legisla h3,
.enlaces h3 {
    margin: 0;
    padding: 0;
}

/*
    *CSS específico de Visor
*/
#seccionVisor h2 {
    text-align: center;
    margin: 1em;
}

#seccionVisor {
    margin: 0.5em 1em;
    min-height: 8em;
}

#botonesVisor {
    float: left;
    width: 20%;
    padding: 2%;
    clear: both;
}

#botonesVisor li {
    display: block;
    padding: 0.5em;
    margin: 0.5em auto;
    width: 70%;
    border: 1.5px solid #3939e0;
    text-align: center;
    cursor: pointer;
    /*CSS3 añadido para dar boder radius y transicion en hover*/
    border-radius: 12px;
    background: #f0f0f0;
    transition: 1s;
}

#botonesVisor li:hover {
    /*CSS3 añadido para dar color gradiente  y transicion en el width de boton en hover*/
    background: linear-gradient(to left, #84d0f9 0%, #577bf4 100%);
    color: #800e25;
    font-weight: bold;
    width: 100%;
}

/*Codigo para quitar propiedades al primer botón para que parezca un h2*/
#botonesVisor li:first-child {
    border: 0 solid;
    background: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #800e25;
}

#map {
    float: left;
    width: 76%;
    margin: 2%;
    padding: 20% 0;
    background: url("../img/logo.jpg") no-repeat center;

    /*CSS3 añadido para dar sombra y bordea la ventana del visor.*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px #888;
}

/*
    *CSS de Contacto
*/

.contacto {
    margin: 1.5em;
}

.contacto h2 {
    margin-top: 1.5em;
}

.contacto address,
.contacto p,
.contacto h2 {
    font-style: normal;
    text-align: center;
}

.lpd {
    font-size: 0.7em;
    text-align: center;
}

#formulario {
    padding: 1em;
    width: 50%;
    margin: auto;
}

.col1,
.col2 {
    overflow: auto;
    width: 50%;
    float: left;
}

#formulario span {
    overflow: auto;
}

span label {
    float: left;
    width: 98%;
    margin-top: 0.2em;
}

#formulario input,
#formulario select {
    width: 80%;
    padding: 0.4em;
}

#formulario .check input {
    width: 10%;
    margin: 0 1em;
    float: right;
}

#formulario .check {
    font-size: 0.9em;
}

#formulario .check label {
    font-size: 1.1em;
}

#formulario .area label {
    margin-top: 1em;
    width: 100%;
}

#formulario .envio {
    width: 20%;
    cursor: pointer;
    /*CSS3 añadido para dar boder radius y color gradiente en hover*/
    border-radius: 12px;
    background-color: #f0f0f0;
}

/*
    *Breadcrumbs
*/
section .breadcrumbs {
    list-style: none;
    padding-left: 1em;
    font-size: 0.8em;
    margin: 0.5em;
}

.breadcrumbs a {
    color: #800e25;
    padding: 0.2em;
    float: left;
}

/*
    *Mapas de Navegacion
*/

h3 {
    margin-bottom: 0;
    padding-left: 1em;
}

.map {
    text-align: center;
}

.mapaNav {
    width: 90%;
    padding: 0.5em;
}
