/*CSS General a todo el sitio*/
/*1920px portatil*/

/*border-box aplicado a todo o sitio web para ter un mellor control no tamaños das "caixas", creadas principalmente con float.*/
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4em;
    width: 90%;
    margin: auto;
    background-color: #f0f8ff;
}

#cuerpo {
    background: url("../img/cabecera.jpg") 50% 50%;
}

a {
    text-decoration: none;
    padding: 0.5em 1em;
    color: #000000;
}

h1,
h2,
h2 a,
h3 {
    color: #800e25;
}

/*
    *Header
*/

#cabecera {
    background: url("../img/cabecera.jpg") 50% 50%;
    background-color: #00008b;
    position: relative;
    padding: 1em;
}

#cabecera .imagen {
    margin-top: 0.5em;
    margin-bottom: 2em;
    /*Añadido CSS3 sombra en las imagenes*/
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

#navegador {
    position: absolute;
    bottom: -0.3em;
    margin-left: 0.5em;
    z-index: 5;
}

#navegador a {
    display: inline-block;
    text-align: center;
    padding: 0.5em;
    width: 8em;
    border: 2px solid #3939e0;
    /*CSS3 border radius y gradiente para dar color a los botones de nav*/
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    background: linear-gradient(#84d0e8, #f0f0f0);
}

#navegador .BIni,
#navegador .BPres,
#navegador .BTrab,
#navegador .BServ,
#navegador .Binfo,
#navegador .BVis,
#navegador .BCont {
    color: #800e25;
    background: #add8e6;
    border-bottom: none;
    font-weight: bold;
}

#navegador a:hover {
    /*CSS3 gradiente para dar color a los botones de nav al hacer hover*/
    background: linear-gradient(to top, #84d0f9 0%, #3863f7 100%);    
    color: #800e25;
    font-weight: bold;
}

#cabecera address {
    position: absolute;
    bottom: 0.1em;
    right: 1em;
}

address a {
    padding: 0;
    margin: 0;
}

#cabecera address img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 0.5em;
    /*CSS3 para dar sombra a los botones de RRSS*/
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    transition: box-shadow .5s;  
}

#cabecera address img:hover {
    /*CSS3 para reducir la sombra con hover*/
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
}

/*
    *footer
*/

footer {
    background: url("../img/pie.jpg") 50% 50%;
    background-color: #00008b;
    margin-top: -0.5em;
    padding: 1em;
}

footer p {
    padding: 1em;
    margin: 0;
    border: solid 2px #00008b;
    background-color: #add8e6;
}

footer span {
    float: right;
}

footer span a:hover {
    font-weight: bold;
    color: #800e25;
}

/*
    *CSS específico de secciones
*/

#cuerpo section:first-child {
    margin-top: 0;
    z-index: 4;
    border-top: solid 2px #3030de;
}

section {
    overflow: auto;
    margin: 0.5em 1em;
    min-height: 8em;
    background-color: #add8e6;
    border: solid 2px #00008b;
}

section h2 {
    margin: 0 0 5px 0;
}

.text {
    margin: 0;
    text-align: justify;
    margin-bottom: 0.5em;
}

.textSeccion {
    width: 77%;
    float: left;
    margin: 2%;
}

.imgSeccion {
    width: 15%;
    float: left;
    margin: 2%;
    /*Añadido CSS3 para borde y sombra en las imagenes*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.76);
}

h2 a {
    padding: 0;
}

ul,
.servicios,
.trabajos {
    line-height: 1.6em;
    text-align: justify;
}

.textServ,
.textTrab,
.textInfo {
    vertical-align: middle;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    overflow: auto;
    clear: left;
}

.imgServicios,
.imgTrabajo1 {
    float: left;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 1em;
    /*Añadido CSS3 para borde y sombra en las imagenes*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px rgba(139, 139, 139, 0.76);
}

.imgTrabajo1 {
    float: left;
    width: 20%;
    margin-left: 4%;
}

/*
    *CSS de información
*/

.textInfoDown {
    overflow: auto;
}

.enlaces {
    float: left;
    width: 45%;
    margin-left: 2em;
}

.enlaces img {
    width: 80%;
    margin-top: .5em;
    /*Añadido CSS3 para borde y sombra en las imagenes y siguiente hover para dar efecto de transition.*/
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    transition: box-shadow .5s;       
}

.enlaces img:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.legisla {
    float: left;
    clear: right;
    margin-left: 2.5em;
    width: 45%;
}

.legisla a {
    display: block;
    padding: 0.5em 0 0.2em 0.5em;
    color: #666066;
}

.legisla h3,
.enlaces h3 {
    margin: 0;
    padding: 0;
}

/*
    *CSS específico de Visor
*/

#seccionVisor {
    margin: 0.5em 1em;
    min-height: 8em;
    background-color: #add8e6;
    border: solid 2px #00008b;
}

#botonesVisor {
    float: left;
    width: 20%;
    padding: 2%;
}

#botonesVisor li {
    display: block;
    padding: 0.5em;
    margin: .5em auto;
    width: 100%;
    border: 1.5px solid #3939e0;
    text-align: center;    
    cursor: pointer;
    /*CSS3 añadido para dar boder radius y color gradiente en hover*/
    border-radius: 12px;    
    background-color: #f0f0f0;
    transition: background 1s;    
}

#botonesVisor li:hover {
    
    background: linear-gradient(to left, #84d0f9 0%, #577bf4 100%);
    color: #800e25;
    font-weight: bold;
}

#map {
    float: left;
    width: 76%;
    margin: 2%;
    padding: 20% 0;
    background: url("../img/logo.jpg") no-repeat center;
    /*CSS3 añadido para dar aspecto dinamico a la ventana del visor.*/
    border-top: 1px solid #808080;
    border-left: 1px solid #808080;
    box-shadow: 5px 5px 5px #888;
}

/*
    *CSS de Contacto
*/

.contacto {
    margin: 1.5em;
    text-align: center;
}

.contacto address {
    font-style: normal;
}

#formulario {
    overflow: auto;
    padding: 1em;
    width: 50%;
    margin: auto;
}

#formulario span {
    margin: 0.5em 0;
    text-align: justify;
    float: left;
    clear: left;
}

#formulario .area {
    float: right;
}

#formulario input {
    width: 100%;
    padding: 0.4em;
}

#formulario .envio {
    width: 100px;
    padding: 0.4em;
}

.lpd {
    font-size: 0.7em;
}

/*
    *Mapas de Navegacion
*/

h3 {
    margin-bottom: 0;
    padding-left: 1em;
}

.map {
    text-align: center;
}

.mapaNav {
    width: 90%;
    padding: 0.5em;
}
