/*vp = 393 -- 731*/
/*novp = 980*/

@media screen and (max-width: 850px) and (min-width: 500px) {
    body {
        line-height: 1.2em;
        width: 100%;
    }

    /*CSS de Cabecera*/
    #cabecera .tituloLogo {
        overflow: auto;
    }

    #navegador {
        position: absolute;
        bottom: 40%;
        margin-left: 25%;
        z-index: 5;
    }

    #navegador a {
        text-align: center;
        padding: 1em 0.5em;
        width: 6em;
        border: 2px solid #3939e0;
        border-radius: 6px;
        background: linear-gradient(#84d0e8, #f0f0f0);
    }

    #navegador .BIni,
    #navegador .BPres,
    #navegador .BTrab,
    #navegador .BServ,
    #navegador .Binfo,
    #navegador .BVis,
    #navegador .BCont {
        border: 2px solid #3939e0;
    }

     /*CSS de address*/
    
    #cabecera address {
        visibility: hidden;
        position: absolute;
    }
    
    /*CSS de cuerpo*/
    
    /*CSS de footer*/    
    footer address {
        visibility: visible;
        position:relative;
        left:23%;
        display: inline-block;
    }
    
    footer .autor{
        position: absolute;
    }
    
    footer span{
        padding-top: 2%;
    }   
    
}
