/*vp = 393 -- 731*/
/*novp = 980*/

@media screen and (max-width: 450px) {
    body {
        line-height: 1.2em;
        width: 100%;
    }

    /*CSS de Cabecera*/

    #cabecera .imagen {
        margin-left: 55%;
        margin-bottom: 3em;
        /*Añadido CSS3 sombra en las imagenes*/
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    #cabecera address {
        position: absolute;
        right: 1.5em;
    }

    #cabecera address img {
        width: 40px;
        /*40/1920*100 */
    }

    #navegador .BIni,
    #navegador .BPres,
    #navegador .BTrab,
    #navegador .BServ,
    #navegador .Binfo,
    #navegador .BVis,
    #navegador .BCont,
    #navegador a {
        border: 2px solid #3939e0;
        border-radius: 6px;
    }


}
