/*vp = 393 -- 731*/
/*novp = 980*/
/* As liñas do antigo codigo como float esta comentado e os posicionamentos absolutos
que quedan son para que os elementos hidden non interfiran na colocación dos elementos.*/

@media screen and (max-width: 900px) and (min-width: 501px) {
    body {
        line-height: 1.2em;
        width: 100%;
    }

    /*CSS de Cabecera*/

    #logo-nav {
        /*codigo flex*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 98%;
    }

    /*#cabecera .imagen {
        float: left;
        margin-bottom: 0;
        width: 24%;
        margin-left: 2%;
    }*/

    #navegador {
        /*left: 30%;
        bottom: 30%;
        margin: 0;*/
        width: 70%;

        /*codigo flex*/
        display: flex;
        align-items: center;
    }

    #navegador a {
        padding: 1em 0.1em;
        width: 20%;
        border-radius: 6px;
        background: linear-gradient(#84d0e8, #f0f0f0);
        font-size: 60%;
    }

    #navegador .BIni,
    #navegador .BPres,
    #navegador .BTrab,
    #navegador .BServ,
    #navegador .Binfo,
    #navegador .BVis,
    #navegador .BCont {
        border: 2px solid #3939e0;
    }

    /*CSS de address*/

    #cabecera address {
        visibility: hidden;
        position: absolute;
    }

    /*CSS de cuerpo*/

    section {
        padding: 1.5% 0;
    }

    #cuerpo .textSeccion {
        width: 52%;
        /*float: left;*/
        font-size: 90%;
    }

    #cuerpo .imgSeccion {
        width: 40%;
        /*float: right;*/
    }

    /*CSS de footer*/

    footer address {
        visibility: visible;
        /*display: inline-block;
        position: absolute;
        left: 10%;*/
        width: 50%;
        
        /*codigo flex*/
        display: flex;
        justify-content: center;
    }

    /*footer address a {
        margin-top: 8%;
    }*/

    footer .autor {
        visibility: hidden;
        position: absolute;
    }

    footer .pie {
        width: 50%;
        /*codigo flex*/
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        align-items: center;
    }

    footer .pie a {
        font-size: 70%;
        /*float: right;*/
        width: 50%;
        text-align: center;
    }

    .pie a:first-child {
        visibility: visible;
        border-left: solid 1px black;
    }

    .pie a:nth-child(3) {
        border-left: solid 1px;
        border-right: none;
    }
}
