/*vp = 393 -- 731*/
/*novp = 980*/
/* As liñas do antigo codigo como float e flex esta comentado e os posicionamentos absolutos
que quedan son para que os elementos hidden non interfiran na colocación dos elementos.*/

@media screen and (max-width: 500px) {
    body {
        line-height: 1.2em;
        width: 100%;
        min-width: 340px;
    }

    /*CSS de Cabecera*/
    /*#cabecera #logo {
        overflow: hidden;
    }*/
    #cabecera {
        /*codigo-flex*/
        grid-template-columns: 1fr 3%;
    }

    #logo-nav {
        /*codigo flex
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 98%;
        padding-right: 0.5em;*/

        /*codigo grid*/
        grid-template-columns: 1fr 1fr;
    }
    
    #logo-nav .img{
        /*codigo grid*/
        grid-column-start: 2;
        justify-self: end;
        padding: 1em 0;
    }

    #navegador {
        width: 8em;
        left: 0.5em;
        top: 1.2em;
        /*codigo flex
        display: flex;
        flex-wrap: wrap;*/
        /*necesario absolute para hacer este menu desplegable*/
        position: absolute;

        /*codigo grid*/        
        grid-template-columns: 1fr;
        grid-column-start: 1;
        justify-items: stretch;
        grid-row-start: 1;
    }

    #navegador a:first-child {
        visibility: visible;
        
        /*codigo grid*/  
        grid-column-start: 1;
    }

    #navegador a:not(.navega) {
        visibility: hidden;
        border: 2px solid #3939e0;
        border-radius: 6px;
    }

    #navegador .navega {
        width: 8em;
        padding: 2.3em 2em;
        border: 2px solid #3939e0;
        border-radius: 6px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        /*float: left;*/
    }

    #navegador .BIni,
    #navegador .BPres,
    #navegador .BTrab,
    #navegador .BServ,
    #navegador .Binfo,
    #navegador .BVis,
    #navegador:first-child {
        border: 2px solid #3939e0;
        border-radius: 6px;
        background: linear-gradient(#84d0e8, #f0f0f0);
    }

    #navegador:hover a {
        visibility: visible;

    }

    /*CSS de address*/

    #cabecera address {
        visibility: hidden;
    }

    /*CSS de cuerpo*/

    section {
        /*Codigo grid*/
        grid-template-columns: 1fr 0;
        grid-column-gap: 0%;
        padding: 2%;
    }

    section:nth-child(2n) {
        grid-template-columns: 0 1fr;
    }

    #cuerpo img {
        visibility: hidden;
        width: 0%
    }

    /*.textSeccion {
        width: auto;
        float: none;

        Codigo de flex
        padding: 2%;
    }

    #cuerpo section:last-child {
        Codigo de flex
        display: flex;
        flex-direction: column;
    }

    #cuerpo section:last-child .textSeccion {
        Codigo de flex
        padding-top: 0;
    }*/

    /*CSS de footer*/

    #foot {
        /*overflow: auto;
        padding: 1.5em 3.7em;        
        codigo flex
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        */

        text-align: center;
        font-size: 80%;

        /*codigo grid*/
        grid-template-columns: 1fr;
        grid-template-rows: 0 1fr 3fr;
        align-items: stretch;
    }

    footer address {
        visibility: visible;
        /*codigo grid*/
        justify-self: center;
    }

    footer .autor {
        visibility: hidden;
    }

    .pie {
        /*display: flex;
        flex-direction: column;*/
        
        /*codigo grid*/
        grid-template-columns: 1fr;        
        grid-template-rows: repeat(4,1fr);
    }
    
     a {
        padding: 0;
    }

    .pie a:first-child {
        visibility: visible;
    }

    .pie a:nth-child(3) {
        border: none;
    }
}
