/*vp = 393 -- 731*/
/*novp = 980*/

@media screen and (max-width: 500px) {
    body {
        line-height: 1.2em;
        width: 100%;
    }

    /*CSS de Cabecera*/
    #cabecera #logo{
        overflow: hidden;
    }

    #cabecera .imagen {
        float:right;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        margin-bottom: 0em;
    }

    #navegador {
        width: 8em;
        left: 0.5em;
        top: 0.8em;
    }

    #navegador a {
        visibility: hidden;
        border: 2px solid #3939e0;
        border-radius: 6px;
    }

    #navegador .navega {
        padding: 2.3em 2em;
        visibility: visible;
        border: 2px solid #3939e0;
        border-radius: 6px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
        float: left;
    }

    #navegador .BIni,
    #navegador .BPres,
    #navegador .BTrab,
    #navegador .BServ,
    #navegador .Binfo,
    #navegador .BVis,
    #navegador:first-child {
        border: 2px solid #3939e0;
        border-radius: 6px;
        background: linear-gradient(#84d0e8, #f0f0f0);
    }

    #navegador:hover a {
        visibility: visible;
        z-index: 8;
    }

    /*CSS de address*/

    #cabecera address {
        visibility: hidden;
        position: absolute;
    }

    /*CSS de cuerpo*/

    #cuerpo {
        position: relative;
        z-index: 1;
    }

    #cuerpo img {
        visibility: hidden;
        position: absolute;
    }

    .textSeccion {
        width: auto;
        float: none;
    }

    /*CSS de footer*/
    
    footer div{
        overflow: auto;
        padding: 1.5em 3.7em;
        text-align: center;
    }

    footer address {
        visibility: visible;
        display: inline-block;
        margin-top: 1em;
        float: none;
    }
    footer .autor{
        margin: 0.5em 1em;
    }
    footer .pie{
        margin: 1em 0 0.5em;
        float: none;
    }
    footer .pie a{
        padding: 0.5em;
        display:block;
    }
    
    .pie a:nth-child(2){
        border: none;
    }
    

}
