@font-face {
    font-family: "Roboto Condensed", sans-serif;
    src: url(../fonts/robotoCondensed.woff2);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

img{
    width: 20%;
}

body{
    display: grid;
    grid-template-areas:    "head"
                            "main"
                            "foot";
}

#cabecera{
    grid-area: head;
    background-color: aqua;
}
#cuerpo{
    grid-area: main;
    background-color: red;
}
#foot{
    grid-area: foot;
    background-color: aliceblue;
}